---
import "../../public/less/style.less";

let title = "Ivan Milincic - Web Developer";
let description =
	"Web developer living and working from Sofia, Bulgaria. I have a strong passion for web development and technology in general. Over the years, I have explored various aspects of the tech industry, but I have discovered my true calling in web development, which is a field I genuinely love and enjoy.";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />

		<script is:client src="/uikit/dist/js/uikit-core.min.js"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=Inter:wght@400;600&family=Playfair+Display:ital@0;1&display=swap"
			rel="stylesheet"
		/>

		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://milincic.com/" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:url" content="https://milincic.com/" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
	</head>

	<body class="uk-light uk-position-relative">
		<div class="lines">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<slot />
	</body>
</html>
